streamlit>=1.22.0
ultralytics==8.0.166
paddleocr==2.6.0
paddlepaddle==2.5.1  # Compatible with paddleocr 2.6.0 and Python 3.10
pytesseract==0.3.10
transformers==4.31.0
torch==2.0.1
tensorflow==2.10.0
opencv-python
pillow
numpy
pandas
scikit-learn
matplotlib
